[submodule "bundle/ctrlp"]
	path = pack/bundle/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "bundle/nerdcommenter"]
	path = pack/bundle/start/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter
[submodule "bundle/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = pack/bundle/start/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/vim-gitgutter"]
	path = pack/bundle/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic
[submodule "bundle/vim-javascript"]
	path = pack/bundle/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/vim-jsx"]
	path = pack/bundle/start/vim-jsx
	url = git@github.com:mxw/vim-jsx
[submodule "bundle/emmet-vim"]
	path = pack/bundle/start/emmet-vim
	url = git@github.com:mattn/emmet-vim
[submodule "bundle/ale"]
	path = pack/bundle/start/ale
	url = git@github.com:w0rp/ale.git
[submodule "bundle/vim-prettier"]
	path = pack/bundle/start/vim-prettier
	url = git@github.com:prettier/vim-prettier
[submodule "bundle/vim-buffergator"]
	path = pack/bundle/start/vim-buffergator
	url = git@github.com:jeetsukumaran/vim-buffergator
[submodule "bundle/vim-airline"]
	path = pack/bundle/start/vim-airline
	url = git@github.com:vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = pack/bundle/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes
[submodule "bundle/colorschemes"]
	path = pack/bundle/start/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
